<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Customer List</h2>
  <a class="btn btn-primary" href="/th-customer/create">Go to create page</a>

  <table class="table">
    <thead>
    <tr>
      <th>Peepo ID</th>
      <th>Peepo Id</th>
      <th>Peepo Name</th>
      <th>Peepo Email</th>
      <th>Peepo Address</th>
      <th>Peepo Image</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customerList}">
      <td th:text="${customer.id}"></td>
      <td th:text="${customer.customerId}"></td>
      <td th:text="${customer.customerName}"></td>
      <td th:text="${customer.customerEmail}"></td>
      <td th:text="${customer.customerAddress}"></td>
      <td th:text="${customer.customerImage}"></td>
      <td>
        <a class="edit btn btn-primary" th:href="@{/th-customer/edit/{id}(id=${customer.id})}">Edit</a> |
        <a class="delete btn btn-danger" th:href="@{/th-customer/deleteById/{id}(id=${customer.id})}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
