<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            background-image: url("https://cellularnews.com/images/hd/dank-meme-1920X1080-di0asg79lv5qlbsc.jpeg");
            background-repeat: no-repeat;
            background-size: cover;

        }
        h2, label, input, button { /* Target all headings, labels, inputs, and buttons */
            font-weight: bold; /* Make font bold */
            font-family: "Times New Roman";
            color: black;/* Inherit font family from body */
        }
    </style>
</head>
<body>

<div class="container">
    <h2 style="text-align: center">peepo department form</h2>
    <form th:method="post" th:action="@{/department/save}"
          th:object="${department}" >
        <input type="hidden" th:field="*{id}" th:value="${department.id}"/>
        <div class="form-group">
            <label for="departmentName">Peepo Department Name:</label>
            <input type="text" th:field="*{departmentName}"
                   th:value="${department.departmentName}"
                   class="form-control"
                   id="departmentName" placeholder="Enter peepo name"
                   name="departmentName">

        </div>

        <button type="peepo?" class="btn btn-default">Submit</button>
    </form>
</div>

</body>
</html>



