<!DOCTYPE html>
<html lang="en">
<head>
    <title>peepo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            background-image: url("https://cellularnews.com/images/hd/dank-meme-1920X1080-di0asg79lv5qlbsc.jpeg");
            background-repeat: no-repeat;
            background-size: cover;

        }
        h1, label, input, button { /* Target all headings, labels, inputs, and buttons */
            font-weight: bold; /* Make font bold */
            font-family: "Times New Roman";
            color: black;/* Inherit font family from body */
        }
    </style>
</head>
<body>

<div class="container">
    <h2>peepo List</h2>
    <a class="btn btn-primary" href="/th-department/create">Goto create page</a>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Peepo Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department:${departmentList}">
            <td th:text="${department.id}"></td>
            <td th:text="${department.departmentName}"></td>
            <td>
                <a class="edit btn btn-primary" th:href="@{~/th-department/edit/}+${department.id}">Edit</a> |

                <a class="delete btn btn-danger" th:href="@{~/th-department/deleteById/}+${department.id}">Delete</a>

            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>








